.nav{
    background-color: #357376;
}

.nav>.columns>h3{
    color: #e5dfdf;
    margin-top: 5px;
    margin-left: 10px;
}

.item{
    color: white;
    margin-top: 1%;
    background: #6ba8a9;
}

img{
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer{
    padding: 10px;
    background: #1d4d4f;
    color: white;
}
.center{
    background-color: grey;
    color: black;
    text-align: center;
}