.nav{
    background-color: #2b4966;
}

.nav>.columns>h3{
    color: #e5dfdf;
    margin-top: 5px;
    margin-left: 10px;
}

.item{
    color: black;
    margin-top: 1%;
    background: #99d0fd;
}

img{
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer{
    padding: 10px;
    background: #2b4966;
    color: white;
}
.center{
    background-color: #2b4966;
    color: black;
    text-align: center;
}

.result{
    background-color: #99d0fd;
    padding-left: 20px;
}

.resimage{
    width: 250px;
}